@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    position: absolute;
    top: -30px;
    left: -30px;

    background: url("https://img.freepik.com/premium-photo/two-people-sitting-mountain-top-watching-sunrise_889227-10504.jpg") no-repeat center center/cover;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;

    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: white;
    text-shadow: -1px 1px 5px black;
}