@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { box-sizing: border-box; }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 530px;
    width: 500px;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
    .image-container img {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }

.buttons-container {
    display: flex;
    justify-content: space-between;
}
    .buttons-container button {
        cursor: pointer;
        background-color: rebeccapurple;
        color: #fff;

        width: 49.5%;
        border: none;
        padding: 0.5rem;
    }
        .buttons-container button:hover { opacity: 0.9; }
        .buttons-container button:focus { outline: none; }